<%- include('partials/header') %>
    <main>
        <div class="container">
            <div class="row col-lg-12">
                <h1 class="my-5">About Me</h1>
                <hr />
                <p class="mt-3">Hi there! I'm Jack Marshall, and I'm thrilled to welcome you to my very first website.
                    I've always
                    been
                    passionate about storytelling and sharing the little insights from my day-to-day adventures. Whether
                    it's
                    reflecting on new ideas, exploring creative projects, or just musing about life, I believe every
                    experience
                    has something worth sharing.</p>
                <br />

                <p class="mt-3"> blog is our little corner of the internet where we can document our journey, celebrate
                    successes, learn
                    from failures, and connect with like-minded folks. I'm excited to follow along as we dive into
                    topics that
                    spark curiosity—from innovative business ideas and lifestyle tips to personal growth and unexpected
                    adventures.</p>
                <br />

                <p class="mt-3">Thanks for stopping by, and I hope you enjoy reading, and sharing as much as I enjoy
                    writing. Here’s
                    to new
                    beginnings and endless discoveries!</p>
            </div>
        </div>
        <hr />
    </main>
    <%- include('partials/footer') %>