<%- include('partials/header') %>
    <main>
        <div class="container">
            <div class="row col-lg-12 my-5">
                <h1 class="mt-3">Contact Me</h1>
                <hr />
                <p class="mt-3">Tel: +27 12 345 6789</p>
                <p class="mt-3">Email: jackmarshall@gshmail.com</p>
                <p class="mt-3">Address:</p>
                <p>
                    42 Wallaby Way<br />
                    City of Tshwane<br />
                    Gauteng<br />
                    South Africa<br />
                </p>
                <hr />
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>